@using Spotify.Application.Streaming.Dto
@model IEnumerable<BandaDto>
@if (ViewBag.LoginError != null)
{
    <p style="color: red;">@ViewBag.LoginError</p>
    <div style="display:block; position:absolute; height:100%; width:100%;"></div>

}
<div>
    <a type="button" class="btn btn-info mb-2 me-2 text-light border-light fw-bold" role="button" asp-controller="Banda" asp-action="Create">
        <i class="bi bi-plus-circle"> Adicionar Registro</i>
    </a>
</div>
<div class="text-center border border-2 border-dark rounded-2">
    <table class="table table-striped table-dark mb-0">
        <thead>
            <tr>
                <th scope="col" class="text-center">Backdrop</th>
                <th scope="col" class="text-start">
                    Nome
                </th>
                <th scope="col" class="text-start">
                    Descrição
                </th>                
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="w-auto text-center"><img class="img-fluid" width="36" height="36" src=@item.Backdrop /></td>
                    <td class="w-10 text-start text-wrap">@item.Nome</td>
                    <td class="w-50 text-start text-wrap">@item.Descricao</td>                    
                    <td class="w-5 text-center" >
                        <a type="button" class="btn btn-outline-warning rounded-circle p-2 border border-2 border-secondary" data-toggle="tooltip" data-placement="bottom" title="Editar banda" href="@Url.Action("Edit", "Banda", new { Id = item.Id })">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a type="button" class="btn btn-outline-danger rounded-circle p-2 border border-2 border-secondary" data-toggle="tooltip" data-placement="bottom" title="Excluir banda" href="@Url.Action("Delete", "Banda", item)" >
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
